* {
    margin: 0;
    padding: 0;
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 12px;
}
h1 {
    margin-bottom: 10px;
}
.main {
    display: flex;
}
.values {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 0 8px;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    padding-right: 18px;
}
.chart {
    display: flex;
}
.barcontainer {
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 12px;
    position: relative;
}
.name-label {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -22px;
}
.rect {
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-value {
    transform: rotate(90deg);
    font-size: larger;
}